.QuickAccess {
	padding: var(--section-v-whitespace) 0;
	background-color: var(--bg-light);
	margin-top: -0.4em;
}

.QuickAccess__Paper {
	padding: 2em !important;
}

.QuickAccess_NavLinks {
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
	margin-top: 1rem;
}

.QuickAccess__NavLink {
	padding: 2rem 1.5rem;
	text-align: center;
	text-decoration: none;

	border-radius: 0.2rem;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1), -2px -2px 2px rgba(0, 0, 0, 0.015);
	background-color: var(--white);
	transition: var(--transition-speed);
}

.QuickAccess__NavLink:hover {
	background-color: var(--white);
	background-color: var(--bg-light);
}

.QuickAccess__Icon {
	width: 60px;
	height: 60px;
}

.QuickAccess__Text {
	display: block;
	margin-top: 0.5rem;
	text-transform: capitalize;
	color: var(--dark);
}