*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: arial, sans-serif;
}

:root {
	--container-w: 1200px;
	--sidebar-width: 270px;
	--header-h: 100px;
	--section-v-whitespace: 4rem;
	--b-radius: 10px;
	--font-size: 16px;
	--transition-speed: 0.25s;

	--light-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);

	--bg-light: #E5E5E5;
	--danger: #D50404;
	--danger-light: #D50404d6;
	--success: #00923F;
	--light: #FCFEFE;
	--grey: #A0A1A2;
	--dark: #454B60;
	--white: #ffffff;
}

html {
	scroll-behavior: smooth;
}

.ProtectedRouterView {
	padding-top: var(--header-h);
}