*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: arial, sans-serif;
}

:root {
	--container-w: 1200px;
	--sidebar-width: 270px;
	--header-h: 100px;
	--section-v-whitespace: 4rem;
	--b-radius: 10px;
	--font-size: 16px;
	--transition-speed: 0.25s;

	--light-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);

	--bg-light: #F3F7F7;
	--danger: #740C01;
	--danger-light: #994D45;
	--success: #00923F;
	--light: #FCFEFE;
	--grey: #A0A1A2;
	--dark: #454B60;
	--white: #ffffff;
	--primary: #025890;
	--primary-light: #CEEBF6;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--bg-light);
}

input:focus {
	outline: none;
}

.ProtectedRouterView {
	padding-top: var(--header-h);
}

.ViewHeading {
	color: var(--danger);
	font-weight: 500;
	font-size: calc(var(--font-size) * 1.6);
}

.V-whitespace {
	padding: var(--section-v-whitespace) 0;
}

.swal-text {
	text-align: center;
}