body{
       max-height: 100vh;
    /* margin: auto; */
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* xs */
@media(max-width:575px){
.descrip-body{
    margin-top: 110px;
    margin-left: 10%;
    margin-right: 10%;
 
}

.text-input{
    border-radius: 20px;
    border: 2px solid gray;
    padding: 15px;
    font-size: 1.1rem;
    outline: none;
}


.descrip-head{
    font-size: 1.2em;
    color: rgb(87, 85, 85);
    font-weight: bold;
}
.input-section{
    margin-top: 10px;
}

.send-bttn{
    float: right;
    margin-top: 20px;
}

.send-bttn input[type="button"]{
    font-size: 1.3rem;
    padding: 8px 35px;
    background-color:rgb(216, 17, 17);
    color: white;
    outline: none;
    border-radius: 20px;
    border: none;
}
}

/* sm */
@media(min-width:576px)and (max-width:767px){
.descrip-body{
    margin-top: 110px;
    margin-left: 10%;
    margin-right: 10%;
 
}

.text-input{
    border-radius: 20px;
    border: 2px solid gray;
    padding: 15px;
    font-size: 1.1rem;
    outline: none;
}


.descrip-head{
    font-size: 1.2em;
    color: rgb(87, 85, 85);
    font-weight: bold;
}
.input-section{
    margin-top: 10px;
}

.send-bttn{
    float: right;
    margin-top: 20px;
}

.send-bttn input[type="button"]{
    font-size: 1.3rem;
    padding: 8px 35px;
    background-color:rgb(216, 17, 17);
    color: white;
    outline: none;
    border-radius: 20px;
    border: none;
}
}

/* md */
@media(min-width:768px)and (max-width:991px){
.descrip-body{
    margin-top: 110px;
    margin-left: 10%;
    margin-right: 10%;
 
}

.text-input{
    border-radius: 20px;
    border: 2px solid gray;
    padding: 15px;
    font-size: 1.1rem;
    outline: none;
}


.descrip-head{
    font-size: 1.4em;
    color: rgb(87, 85, 85);
    font-weight: bold;
}
.input-section{
    margin-top: 10px;
}

.send-bttn{
    float: right;
    margin-top: 20px;
}

.send-bttn input[type="button"]{
    font-size: 1.2em;
    padding: 10px 40px;
    background-color:rgb(216, 17, 17);
    color: white;
    outline: none;
    border-radius: 20px;
    border: none;
}
}

/* lg */
@media(min-width:992px)and (max-width:1199px){
.descrip-body{
    margin-top: 110px;
    margin-left: 10%;
    margin-right: 10%;
 
}

.text-input{
    border-radius: 20px;
    border: 2px solid gray;
    padding: 15px;
    font-size: 1.1rem;
    outline: none;
}


.descrip-head{
    font-size: 1.4em;
    color: rgb(87, 85, 85);
    font-weight: bold;
}
.input-section{
    margin-top: 10px;
}

.send-bttn{
    float: right;
    margin-top: 20px;
}

.send-bttn input[type="button"]{
    font-size: 1.2em;
    padding: 10px 40px;
    background-color:rgb(216, 17, 17);
    color: white;
    outline: none;
    border-radius: 20px;
    border: none;
}
}

/* xl */
@media(min-width:1200px){
.descrip-body{
    margin-top: 110px;
    margin-left: 10%;
    margin-right: 10%;
 
}

.text-input{
    border-radius: 20px;
    border: 2px solid gray;
    padding: 15px;
    font-size: 1.1rem;
    outline: none;
}


.descrip-head{
    font-size: 1.4em;
    color: rgb(87, 85, 85);
    font-weight: bold;
}
.input-section{
    margin-top: 10px;
}

.send-bttn{
    float: right;
    margin-top: 20px;
}

.send-bttn input[type="button"]{
    font-size: 1.2em;
    padding: 10px 40px;
    background-color:rgb(216, 17, 17);
    color: white;
    outline: none;
    border-radius: 20px;
    border: none;
}
}

