.WhistleBlow {
    max-width: 600px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.WhistleBlow .ViewHeading {
    color: var(--danger);
}

.WhistleBlow__Info {
    margin-top: 0.6rem;
    padding: 1rem;
    border-radius: var(--b-radius);
    background-color: var(--primary-light);

    display: flex;

    line-height: 120%;
    color: var(--primary);
}

.InfoIcon {
    margin-right: 0.5rem;
}

.text-input {
    border-radius: var(--b-radius);
    border: 1px solid var(--grey);
    padding: 15px;
    font-size: 1.1rem;
}

.text-input:focus {
    border-color: var(--danger);
}

.descrip-head {
    font-size: calc(var(--font-size) + 2px);
    color: var(--dark);
    font-weight: 400;
}   

.descrip-body {
    margin-top: 1.4rem;
}

.send-bttn{
    float: right;
    margin-top: 20px;
}

.send-bttn input[type="button"]{
    font-size: 1.3rem;
    padding: 8px 35px;
    background-color: var(--danger);
    color: white;
    
    border-radius: 5rem;
    border: 1px solid var(--danger);
    transition: var(--transition-speed);
}

.send-bttn input[type="button"]:hover {
    cursor: pointer;
    background-color: transparent;
    color: var(--danger);
}