.WhistleBlow {
    max-width: 600px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.WhistleBlow .ViewHeading {
    color: var(--danger);
}

.WhistleBlow__Info {
    margin: 0.6rem 0;
    padding: 1rem;
    border-radius: var(--b-radius);
    background-color: var(--primary-light);

    display: flex;

    line-height: 120%;
    color: var(--primary);
}

.WhistleBlow .InfoIcon {
    margin-right: 0.5rem;
}

.WhistleBlow .text-input {
    border-radius: var(--b-radius);
    border: 1px solid var(--grey);
    padding: 1rem;
    width: 100%;
    font-size: 1.1rem;
}

.WhistleBlow .text-input:focus {
    border-color: var(--danger);
}

.descrip-head {
    font-size: calc(var(--font-size) + 2px);
    color: var(--dark);
    font-weight: 400;
    margin: 1.6rem 0 0.8rem;
}   

.descrip-body {
    margin-top: 1.4rem;
}


.WhistleBlow .SendBtn{
    display: block;
    margin-left: auto;
    margin-top: 1.4rem;
    font-size: 1.3rem;
    padding: 8px 35px;
    background-color: var(--danger);
    color: white;
    
    border-radius: 5rem;
    border: 1px solid var(--danger);
    transition: var(--transition-speed);
}

.WhistleBlow .SendBtn:hover {
    cursor: pointer;
    background-color: transparent;
    color: var(--danger);
}