.HostelFinder__Main {
  margin-top: 1rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

@media (max-width: 992px) {
  .HostelFinder__row {
    flex-direction: column;
    margin-bottom: 30px;
  }
}
