.DistressCall__ImgBox {
	text-align: center;
}

.DistressCall__ImgBox__Img {
	width: 350px;
	height: 350px;
}

.DistressCall__DetailsBox {
	padding: 0 1rem;
	max-width: 500px;
	margin: 2rem auto 0;
}

.DistressCall__DetailsBox__Info {
	color: var(--danger);
	line-height: 160%;
	text-align: center;
}

.MsgBox {
	margin-top: 2rem;
	padding: 1rem;
	border: 1px solid var(--grey);
	border-radius: var(--b-radius);

	width: 100%;
	color: var(--dark);
}

.MsgBox:focus {
	border-color: var(--danger);
}

.RecordingMsg {
	color: var(--dark);
	margin-top: 1.4rem;
}

.DistressCall .ButtonBar {
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
}

.DistressCall__ButtonBar__Btn {
	padding: 0.3rem 2.5rem;
	border: 1px solid var(--danger);
	border-radius: 5rem;
	background-color: transparent;
	color: var(--danger);

	transition: var(--transition-speed);
}

.DistressCall__ButtonBar__Btn:hover,
.Recording,
.SendBtn {
	background-color: var(--danger);
	color: var(--white);
}

.SendBtn:hover {
	background-color: transparent;
	color: var(--danger);
}

@media (min-width: 992px){
	.DistressCall .Container {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}

	.DistressCall__DetailsBox {
		max-width: auto;
		margin: 0;
	}
}