.CampusNavigator__EndPoints {
    position: fixed;
    left: 1em;
    top: calc(var(--header-h) + 1.5em);
    z-index: 99;
    padding: 1.5em;

    --input-border-size: 2px;
}

.EndPoints__Input {
    display: block;
    border: none;
    background-color: transparent;
    min-width: 270px;
    padding: 0.5rem;
}

.CampusNavigator .FormGroup {
}

.FormGroup + .FormGroup {
    margin-top: 1em;
}

.FormGroup__Label {
    color: var(--danger);
}

.EndPoints__Input--Destination {
    border-bottom: var(--input-border-size) solid var(--grey);
}

.EndPoints__Input--Destination:focus {
    border-color: var(--danger);
}