.contents{
        padding: 5rem;
        margin : 500px;
        margin-top: 25px;
        box-shadow: var(--light-shadow);
}

.content_input{
    font-size: 1.0rem;
    padding: 10px;
    display: block;
    width: 100%;
    height: 35px;
    border-radius: 20px;
    border: 1.5px solid gray;
    outline: none;
    margin-top: 5px;
}

@media(min-width:320px){
    .contents{
        padding: 1rem;
        margin-left:10%;
        margin-right:10% ;
    }
}
@media(min-width:700px) {
    .contents{
        padding: 5rem;
        margin : 50px;
    }
    .content_input{
         width: 100%;
    }
}
@media(min-width:1024px){
    .contents{
        padding: 3rem;
    }
    .content_input{
         width: 100%;
    }
}
@media(min-width:1439px){
    .contents{
        padding: 2rem;
        margin-top: 0;
        margin-left: 150px;
        margin-right: 150px;
    }
    .content_input{
         width: 100%;
    }
}
