.StudentDetails {
	max-width: 600px;
	margin: 2em auto;
	padding: 1.5em;
	background-color: var(--white);
}

.StudentDetails__Form {
	margin-top: 1rem;
}

.StudentDetails__Form fieldset {
	border: none;
	padding: 0.6rem 0;
}

.StudentDetails__Form .Legend {
	font-weight: 700;
	color: var(--dark);
}

.StudentDetails__Form .Legend--Desc {
	margin-top: 1rem;
}

.StudentDetails__Form .Label {
	color: var(--dark);
}

.StudentDetails .ErrorLabel {
	color: var(--danger);
}

.StudentDetails .FormGroup {
	margin-top: 1.3rem;
}

.StudentDetails__Form .FormInput {
	display: block;
	width: 100%;
	padding: 0.5rem 1rem;
	margin: 0.5rem 0;
	border-radius: 0.3em;
	border: 1px solid var(--grey);
}

.StudentDetails__Form .FormInput:focus {
	border-color: var(--danger);
}

.StudentDetails__Form__DescBox {
	margin-top: 1.5em;
}

.StudentDetails__Form .SendBtn {
	display: block;
	padding: 0.5rem 2rem;
	border: 1px solid var(--danger);
	border-radius: 5rem;
	margin-left: auto;
	margin-top: 1.4rem;
}

.StudentDetails__Form .SendBtn:disabled {
	background-color: var(--bg-light);
	color: var(--dark);
	border-color: var(--bg-light);
	cursor: none;
}
