.Banner {
	position: relative !important;
}

.Banner__Img {
	width: 100%;
	height: 30vh;
	object-fit: cover;
}

.Banner__Content {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);

	width: 100%;
}

@media (min-width: 768px) {
	.Banner__Img {
		height: auto;
	}
}