.NewsCard {
	overflow: hidden;
	background-color: var(--white);
	text-decoration: none;
	color: inherit;
	font-size: calc(var(--font-size) - 4px);
}

.NewsCard--Shadow {
	box-shadow: var(--light-shadow);
	border-radius: var(--b-radius);
}

.NewsCard__Img {
	width: 100%;
	height: 170px;
	object-fit: cover;
}

.NewsCard--Horizontal {
	display: flex;
}

.NewsCard--Horizontal .NewsCard__Img {
	height: 100%;
	width: auto;
	height: 50px;
}

.NewsCard__Content {
	padding: 0.5rem 1rem;
}

.NewsCard__Text {
	font-size: calc(var(--font-size) - 2px);
	line-height: 140%;
	color: var(--light-grey);
	margin-top: 0.3em;
}

.NewsCard__ActionBtns {
	display: flex;
	justify-content: flex-end;
	margin-top: 1rem;
}

.ActionBtn {
	border: none;
	background-color: transparent;
	color: var(--grey);
}

.ActionBtn:hover {
	color: var(--danger);
	cursor: pointer;
}

.ActionBtn + .ActionBtn {
	margin-left: 0.5rem;
}