.AppNavbar {
	position: fixed;
	left: -100%;
	top: 0;
	bottom: 0;

	width: var(--sidebar-width);
	overflow-y: auto;

	box-shadow: var(--light-shadow);
	background-color: var(--white);
	transition: var(--transition-speed);
}

.NavLink {
	display: block;
	width: 100%;
	padding: 0.5rem 1rem;
	border-left: 5px solid var(--white);

	text-decoration: none;
	font-size: calc(var(--font-size) - 2px);
	color: var(--danger);
	font-weight: 500;
	line-height: 260%;
}

.ActiveLink {
	border-color: var(--danger);
	background-color: var(--bg-light);
}

.Show {
	left: 0;
}

@media (min-width: 992px){
	.AppNavbar {
		height: 100%;
		width: 100%;
		position: static;
		background-color: initial;
		box-shadow: none;
	}

	.NavLink {
		display: inline-block;
		width: auto;
		height: 100%;
		padding: 0 1rem;
		border: none;

		color: var(--white);
	}

	.NavLink:first-child {
		margin-left: 1rem;
	}

	.NavLink + .NavLink {
		margin-left: 0.7rem;
	}

	.ActiveLink {
		background-color: var(--danger);
	}
}