.AppNavbar {
	position: fixed;
	left: -100%;
	top: 0;
	bottom: 0;
	z-index: 9999;

	width: var(--sidebar-width);
	overflow-y: auto;

	box-shadow: var(--light-shadow);
	background-color: var(--white);
	transition: var(--transition-speed);
}

.AppNavbar .MuiSvgIcon-root {
	margin-right: 0.5em !important;
}

.AppNavbar__Overlay {
	position: fixed;
	top: 0;
	left: 0;

	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 999;
}

.AppNavbar__Overlay--NavOpen {
	display: block;
}

.NavLink {
	display: flex;
	align-items: center;

	width: 100%;
	padding: 0.5rem 1rem;
	border-left: 5px solid var(--white);

	text-decoration: none;
	font-size: calc(var(--font-size) - 2px);
	color: initial;
	font-weight: 500;
	line-height: 280%;
}


.NavLink:hover {
	background-color: var(--bg-light);
}

.NavbarHeader {
	text-align: center;
	font-style: italic;
	padding: 1.5em 1em;
	background-color: var(--danger);
}

.NavbarAppName {
	color: var(--white);
	margin-top: 0.5em;
}

.NavbarHeaderImg {
	width: 20%;
	height: auto;
}

.ActiveLink {
	border-color: var(--danger);
	background-color: var(--bg-light);
}

.Show {
	left: 0;
}

@media (min-width: 992px){
	.AppNavbar {
		height: 100%;
		width: 100%;
		position: static;
		background-color: initial;
		box-shadow: none;
	}

	.AppNavbar .MuiSvgIcon-root {
		display: none;
	}

	.NavbarHeader {
		display: none;
	}

	.AppNavbar__Overlay {
		display: none;
	}

	.NavLink {
		display: inline-block;
		width: auto;
		height: 100%;
		padding: 0 1rem;
		border: none;

		color: var(--white);
	}

	.NavLink:hover {
		background-color: var(--danger);
	}

	.NavLink:first-child {
		margin-left: 1rem;
	}

	.NavLink + .NavLink {
		margin-left: 0.7rem;
	}

	.ActiveLink {
		background-color: var(--danger);
	}
}